/*Link em geral*/
a {
    color: orange;
    text-decoration: none; /*tira sublinhado do link*/
}
/*link visitados*/
a:visited {
    color: greenyellow;
}
/*mouse sobre*/
a:hover  {
    /*color: blue;*/
    text-decoration: underline; /*sublinhado volta*/
    filter: brightness(150%); /*cor 150% mais brilhante*/

}