/* @import, quando existem, devem ser o primeiroitem de uma arquivo CSS */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Definição de variáveis */
:root {
    --cor-primaria: #000000;
    --cor-secundaria: #444444;
    --cor-secundaria-clara: #00ffbf;
    --cor-fundo-clara: #DDDDDD;
    --cor-fundo-escura: #BBBBBB;
    --cor-texto-claro: #FFFFFF;
    --cor-texto-escura: #777777;
}
/* CSS reset */
* { /* Todos os elementos */
    padding: 0;
    margin: 0;
    /* Faz com que bordas e margens sejam considerados no tamanho total do elemento */
    /* Exemplo de família de fonte sem serifa
    font-family: Calibri, Arial, sans; */

    /* Exemplo de maília de fonte COM serifa
    font-family: 'Times New Roman', Georgia, 'Times New Roman', serif; */

    /* Exemplo de família de fonte MONOESPAÇADA 
    font-family: Consolas, 'Courier New', monospace; */

    /* Família de fontes da web (webfonts) */
    font-family: Raleway, Calibri, Arial, sans;
    font-size: 16px;
    /* Faz com que bordas e margens sejam considerados no tamanho total do elemento */
    box-sizing: border-box;
}

html {              /* Tamnho de fonte padrão do documento */
    font-size: 16px;
}
/* Cor de todos os links do site */

/* Configuração de todos os links do site */
a {
    color: var(--cor-primaria);
    text-decoration: none; /* Sem sublinhado */
}

a:hover {   /* Mouse passando em cima do link */
    color: var(--cor-secundaria);
    text-decoration: underline; /* Volta o sublinhado */
}
header {
    background-color: var(--cor-primaria);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

#social {
    background-color: transparent; /* Tira a cor de fundo */
    display: flex;
    align-items: center;
}

#social img {
    width: 32px;
}

#social a {
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#social a span {
    margin-left: 6px;
    display: none; /* Esconder o texto dos links */
}

#social a:hover span {
    display: inline; /* Mostra o texto novamente ao passar o mouse */
}

nav ul li {
    display: inline-block; /* Deixa o menu na horizontal */
    margin: 20px;
}

nav {
    background-color: var(--cor-secundaria);  /* Cor do fundo */
    color: var(--cor-texto-claro);;             /* Cor do texto */
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul {
    background-color: var(--cor-secundaria);
}

.menu ul li {
    display: inline;
    position: relative;
}

.menu ul li a {
    color: red;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    transition: 0.6s;
    font-family: 'Press Start 2P';
}

.menu ul li a:hover {
    background-color: var(--cor-secundaria-clara);
}

/*Sub menu*/
.menu ul ul {
    display: none;
    left: 0;
    position: absolute;
}

.menu ul li:hover ul {
    display: block;
}

.menu ul ul {
    width: auto;
}

.menu ul ul li a {
    display: block;
}