/* CSS Reset */
/*@import ,quando existem , devem ser o primeiro item de um arquivo CCS*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,800;1,400;1,800&display=swap');
/*definicao de variaveis*/
:root{
    --cor-primaria: #550000;
    --cor-secundaria: #FF7F2A;
    --cor-secundaria-clara: #FFAF7B;
    --cor-fundo-clara: #DDDDDD;
    --cor-fundo-escura: #BBBBBB;
    --cor-texto-escura: #777777;
    --cor-texto-clara: #FFFFFF;
}
*{
    /*Todos os Elementos*/
    padding: 0;
    margin: 0;
    /*Exemplo de familia de fonte SEM serifa
    font-family: sans,Calibri,Arial;*/
  
    /*Exemplo de familia de fonte COM serifa
    font-family: : Georgia,'Times New Roman', serif;*/

    /*Exemplo de familia de fonte MONOESPAÇADA
    font-family: Consolas, 'Courier New', monospace;*/  
    font-family: Raleway, Calibri, Arial, sans;
    font-size: 16px;

}
html{ /*tamanho da fonte padrão do documento*/
    font-size: 16px;
}
/*cor de todos os links de site */
a {
    color:var(--cor-primaria);
    text-decoration: none; /*sem sublinhado*/
}
a:hover{ /*mouse passando em cima do link*/
    color: var(--cor-secundaria);
    text-decoration: underline;/*volta sublinhado*/
}
header{
    background-color: var(--cor-primaria);
    padding: 10px 20px;
}
nav ul li{
    display: inline-block; /*deixa menu horizontal*/
    margin: 10px;
}

nav {
    background-color: var(--cor-secundaria); /*cor fundo*/
    color: var(--cor-fundo-clara);/*cor texto*/
}
#content{
    background-color: var(--cor-fundo-escura);
    padding: 20px;
    display: flex; /*os elementos e seus filhos usarao flexbox*/
    flex-direction: row; /*filhos estarão em linha*/
}
main, aside{
    background-color:var(--cor-fundo-clara);
    padding: 24px;
    margin-bottom: 20px;
    /*Bordas arredondas*/
    border-radius: 14px;
    /*Sombra(drop-down shadow*/
    box-shadow: 3px 3px 10px rgba(0,0,0,0.25);
    flex-grow: 1;
}
main{
    width:75% ;/*tres unidades de largura*/
}
aside{
    margin-left: 20px;
    background-color: var(--cor-fundo-escura);
    width: 25%;
}
main article, aside article{ /*article que está dentro de uma section*/
    margin: 24px 0; /*24 px no top/bottom , 0 left/right*/
}
main > h1, aside > h1{ /*Apenas os H1 que sao filhos diretos de section*/
    text-transform:uppercase ;/*deixar o texto em maiusculas*/
    color: var(--cor-secundaria);
}
article > h1 { /*Só os H1 q são filhos diretos de article*/
    font-size: 1.5rem; /*1.5x tamanho da fonte do elemento raiz (html)*/
    margin-bottom: 6px;
}
article > h1 > a {
    font-size: 1.5rem; /*1.5x tamanho da fonte do elemento raiz (html)*/
}
article > p {
    color: var(--cor-texto-escura);
}
article > h2 {
    font-size: 0.8rem;
    text-transform: uppercase; /*Todas as letras em maiusculas*/
}
.destaque {
    background-color: var(--cor-secundaria-clara);
    padding: 24px;
    border-radius: 4px; /* Bordas LEVEMENTE arredondadas*/
}
.destaque > p {
    color: #000;
    font-size: 1.5rem;
}
.destaque > h1 > a {
    font-size: 2.5rem;
}
.destaque > h2 {
    font-size: 1rem;
}
.destaque > img {
    width: 450px;
   
}
.foto-texto {
    display: flex;
    flex-direction: row;
}
img {
    width: 300px;
    height: 400;
    margin-right: 24px;
    border-radius: 4px;
}
aside > article > img {
    display: block;/*margin auto à esuqerda e à direita centraliza o elemento quando este é display: block*/
    margin: 0 auto; 
    border-radius: 4px;/*borda arredondada*/
}
aside > article > h1 > a {
    font-size: 0.8rem;
    color:#000;
}
aside > article > h1{
    margin-top: 6px;
}
footer{
    background-color: var(--cor-primaria);
    padding: 24px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-content: space-around;/*espaço automaticamente entre os itens de um flexbox*/
}
footer a{
    color: #FFFFFF;
}
footer ul li{
    display: inline-block; /* coloca os itens de uma lista na horizontal*/
    border-right: 1px solid #fff;
    padding: 0 6px;   
}